@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /*colors*/
    --white-color: #fff;
    --dark-color: #000;
    --primary-color: #ff0000;
    --gray-color: #D3D3D3;
    
    /*font-size*/
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /*font-weight*/
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /*border-radius*/
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /*site-max-width*/
    --site-max-width: 1300px;

}

/*style untuh halaman web*/
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

/*style untuk navbar*/

header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--primary-color);
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease-in-out;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--primary-color);
    background-color: var(--dark-color);
}

.hero-section {
    min-height: 100vh;
    align-items: center;
    background: linear-gradient(to left, var(--white-color), var(--dark-color));
    background-size: cover;
    background-position: center;;
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    max-width: 400px;
    border-radius: var(--border-radius-s);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
/* Akun Media Sosial */
.social-icons {
    position: relative;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    z-index: 2;
}

.social-icons a {
    font-size: 28px;
    color: var(--gray-color);
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: var(--primary-color);
  transform: scale(1.2);
}

.home-content h3 {
  font-size: 32px;
  margin-top: 10px;
  color: #d3b2f7;
}